/* body {
    background-color: black;
} */

img, embed, object, video {
    max-width: 100%;
}


#name {
    border-radius: 10px;
    color: white;
    text-align: center;
    /* left: 50%; */
    background-size: 20px;
}

#name span{
    background-color: green;
    border-radius: 10px;
    padding: 3px;

}

a {
    border-radius: 10px;
    background-color: blue;
    color: aliceblue;
    text-align: center;
    margin: 5px;
    padding: 5px;
    min-width: 48px;
    min-height: 48px;
}

div {
    align-self: start;
    text-align: right;
    padding-right: 10px;
}

img {
    padding-top: 1%;
    opacity: .5;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
img:hover {
    opacity: 1;
}


p {
    color: antiquewhite;
    text-align: center;
}

